// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: lime;
}

.jumbotron {
  opacity: 0.6;
}

.profile_picture {
  height: 50px;
  width: 50px;
}

.profile_picture2 {
  height: 150px;
  width: 150px;
}
